<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../assets/styles.css">
    <script src="https://kit.fontawesome.com/d54d69edca.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('header'); %>

        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">ЗАДАТЬ
                    ВОПРОС</h2>
                <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
                    Вы можете задать свой вопрос в форме обратной связи ниже. Мы будем рады помочь вам.</p>
                <form id="feedback-form" class="space-y-8">
                    <div>
                        <label for="name"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Имя</label>
                        <input type="text" id="name"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                            placeholder="Имя" required>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ваш
                            email</label>
                        <input type="email" id="email"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                            placeholder="name@example.com" required>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="message"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Ваше
                            сообщение</label>
                        <textarea id="message" rows="6" style="min-height: 142px;" required
                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Оставить комментарий..."></textarea>
                    </div>
                    <button type="submit"
                        class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-amber-700 sm:w-fit hover:bg-amber-950 focus:ring-4 focus:outline-none focus:ring-amber-300 dark:bg-amber-700 dark:hover:bg-amber-950 dark:focus:ring-amber-800">Отправить</button>
                </form>
            </div>
        </section>

        <%- include('no_auth_popup'); %>

            <%- include('footer'); %>
                <script src="../assets/js/hover_profile.js"></script>

                <script>
                    window.onload = (event) => {
                        document.getElementById("feedback-form").addEventListener("submit", async (event) => {
                            event.preventDefault();
                            const nameEl = document.getElementById("name");
                            const emailEl = document.getElementById("email");
                            const messageEl = document.getElementById("message");
                            let name = nameEl.value.toString();
                            let email = emailEl.value.toString();
                            let message = messageEl.value.toString();

                            console.log(nameEl, emailEl, messageEl);
                            console.log(name, email, message);

                            fetch("/submit-feedback", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                    Accept: "application/json",
                                },
                                body: JSON.stringify({
                                    name,
                                    email,
                                    message,
                                }),
                            })
                                .then((response) => response.json())
                                .then((data) => {
                                    if (data.success) {
                                        // Сообщение об успехе
                                        console.log("Сообщение отправлено");
                                        // Clear the form inputs
                                        nameEl.value = "";
                                        emailEl.value = "";
                                        messageEl.value = "";

                                        // Show a success popup
                                        showPopup("success");
                                    } else {
                                        console.error(data.error);
                                        // Show an error popup or message
                                        showPopup("error");
                                    }
                                })
                                .catch((error) => console.error("Error:", error));
                        });
                    };

                    function showPopup(type) {
                        const popup = document.querySelector("#login-popup");
                        popup.classList.remove("hidden");
                        popup.querySelector("a").style.display = "none";
                        if (type === "success") {
                            popup.querySelector(".popup-h").textContent = "Успех!";
                            popup.querySelector(".popup-c").textContent = "Сообщение отправлено";
                            popup.querySelector("#bg-popup").classList.add("bg-green-100");
                        } else {
                            popup.querySelector(".popup-h").textContent = "Ошибка!";
                            popup.querySelector(".popup-c").textContent = "Ошибка при отправке сообщения";
                            popup.querySelector("#bg-popup").classList.add("bg-red-100");
                        }
                        // Remove the pop-up after 5 seconds
                        setTimeout(() => {
                            popup.classList.add('hidden');
                            popup.querySelector("#bg-popup").classList.remove("bg-green-100");
                            popup.querySelector("#bg-popup").classList.remove("bg-red-100");
                        }, 5000);
                    }
                </script>
</body>

</html>